<div id="404" class="row">
  <div class="span12">
   	<div id="error_container">
      <h2>Fusce eget felis sollicitudin, rutrum lacus vitae, viverra ante.</h2>
      <h3>Something went wrong!</h3>
      <p>Maybe one of these links will help?</p>
      <ul>
        <li><a class="btn2" href="http://www.thewhitepepper.com/">Home Page</a></li>
        <li><a class="btn2" href="http://www.thewhitepepper.com/collections/new-in">New In</a></li>
        <li><a class="btn2" href="http://www.thewhitepepper.com/pages/faqs">FAQ</a></li>
        <li><a class="btn2" href="http://www.thewhitepepper.com/pages/contact-us">Contact Us</a></li>
      </ul>
    </div>
    <!--<span class="subtext">Sorry, we couldn't find this page.</span>-->
    
  </div>
</div>