<div id="page" class="row">
  
  <div class="span12 details">
    <h1 class="p25">{{ page.title }}</h1>
        </div>
        
        <div>
        {{ page.content }}
        
<!-- Begin MailChimp Signup Form -->
<center><h2>Subscribe to our mailing list</h2></label></center>
{{ 'signup.css' | asset_url | stylesheet_tag }}
<div id="mc_embed_signup">
<form action="http://thewhitepepper.us6.list-manage.com/subscribe/post?u=2be7159017aadfa7919bb21d5&amp;id=53572b412b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>

</div>

<!--End mc_embed_signup-->
    
    
    
  </div>
  
</div>